<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./style.css" rel="stylesheet">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/main.js"></script>
        <title>Desafio entregable 13: Inicio de sesion</title>
    </head>
    <body>
        <main>
            <% if (user) { %>
				<div class="logContainer">
					<div class="userContainer">
						<p class="userP">Bienvenido <%= user.toUpperCase() %></p>
						<a href="/logout">Cerrar Sesion</a>                                   
					</div>
				</div>
			<% } %>
			<% if (!user) { %>
				<div class="logContainer">
					<p class="userContainer"></p>
						<p class="userP">No has iniciado sesion</p>
						<a href="/login">Iniciar Sesion</a> 
					</div>                                  
				</div>
			<% } %>
            <div class="formulario">
                <form action="/productos" class="form" method="post">
                    <legend>AGREGAR PRODUCTO</legend>                    
					<div class="form-group">
						<label for="name">NOMBRE</label>
						<input type="text" class="form-control" name="title" id="name" placeholder="Nombre de Producto" required>
					</div>
					<div class="form-group">
						<label for="precio">PRECIO</label>
						<input type="text" class="form-control" name="price" id="precio" placeholder="Precio del Producto" required>
					</div>
					<div class="form-group">
						<label for="thumbnail">IMAGEN</label>
						<input type="thumbnail" class="form-control" name="thumbnail" id="thumbnail" placeholder="url de la Imagen" required>                        
					</div>             
					<div class="form-button">
						<input type="submit" value="ENVIAR →" class="p-1">             
					</div> 
                </form>
            </div>
            <div class="listadoProductos">
                <h2 class="listTitle">LISTA DE PRODUCTOS</h2>
                <table id="productos">				
                    <%- include('partials/list.ejs'); %>
                </table>
            </div>
            <div class="messageContainer" id="messageContainer">
				<%- include('partials/messages.ejs'); %>
			</div>
            <div class="anchor">
				<a href="/productos">IR A PRODUCTOS</a>                                   
			</div> 
        </main>
    </body>
</html>