<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Desafio entregable 13: Inicio de sesion - Productos</title>
    </head>
    <body>
        <main>
            <table class="table">
                <%- include('partials/table.ejs'); %>
            </table>
            <div class="anchor">
                <a href="/">IR AL FORMULARIO</a> 
            </div>
        </main>
    </body>
</html>